$big-font-size:60px;
$medium-font-size : 24px;
$small-font-size : 20px;
$smaller-font-size : 18px;
$font-semi-bold: 600;
//-----------colors-------------//
$color-light-yellow: #fcf9d2;
$color-white:#f7f6f6;
$color-creamy-white:#fdf1e2;
$color-light-cream:#eac8ad;
$color-dark-green:#5f6565;
$color-darker-green:#3b4545;
$color-dark-pine:#1d6762d6;
$bg-primary:#fae9d6;
$btn-bg-color:#996157;